extends layout

block content
  h2 服务器在线数量
  p #{serverCount}台
  h2 客户端等待数量
  p #{clientCount}台
  h2 加密算法
  p= crypto
  h2 模数长度
  p= modulusLength
  h2 公钥(#{publicKey.type})
  textarea(cols="65", rows="10")
    |#{publicKey.key}
